
<ul>

  <% @users.each do |user| %>
    <li>
      <% if user.name? %>
        <%= user.name %>
        <% else %>
        <%= user.email.split('@').first %>
      <% end %>
      <%= link_to 'Follow', followships_path(following_id: user), method: :post %>
      <%= link_to 'Unfollow', followship_path(user), method: :delete %>
    </li>
  <% end %>

</ul>